<div class="row">
    <div class="col-12">
        <div *ngFor="let item of [1,2]" class="alert alert-secondary" role="alert">
            <div class="d-flex">
                <div class="p-2 flex-fill">
                    <img src="https://placeimg.com/40/40/people" class="img-fluid rounded">
                </div>
                <div class="p-2 flex-fill">
                    <p class="small">This is some placeholder content for the custom component.</p>
                    </div>
            </div>
        </div>


        <div class="mt-2">
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>

    </div>
</div>